# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage.xml
coverage_html/
.tox/
nosetests.xml
coverage/
test-results.xml
test-reports/

# Virtual environments
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Let's exclude the poetry.lock file in case anyone uses Poetry to add dependencies to pyproject.toml
poetry.lock
