global-exclude build/*
global-exclude build/lib/*
global-exclude */build/*
global-exclude */build/lib/*
global-exclude **/build/**
recursive-exclude build *
recursive-exclude */build *
recursive-exclude **/build **
