.env
.aws-sam
build.toml
model.tar.gz
.checksum
.checksums/
.vscode/
.DS_Store
dist/
.sav/
.delete/
.data/
*.egg-info/
build/
__pycache__
*.code-workspace
.ruff_cache
.kiro
rvl_cdip_*
notebooks/examples/data
