transformers @ git+https://github.com/huggingface/transformers.git@4f35ddb9ed472c6b16389c7b048c76481f2ada42
sentencepiece==0.1.99
datasets==2.16.1
bert_score==0.3.13
cer==1.2.0
evaluate==0.4.1
lightning==2.1.3
amazon-textract-textractor
scikit-learn
s3fs
sagemaker-experiments
sagemaker
mlflow
sagemaker-mlflow==0.1.0
PyPDF2
PyMuPDF
torch
pillow